:root {
    --branco-palido: #f5f5f7;
    --cinza-azulado: #d2dee3;
    --azul-claro:    #acc4d5;
    --verde-claro:   #8d9a98;
    --verde-escuro:  #4c585a;
}

.navbar-item img {
    max-height: 3rem;
}

.footer{
    background-color: #fff;
}

/*Stilo index.html */

#cuadro {
    max-height: 480px;
    padding: .5rem;
    border: 2px solid #4c585a;
    background-color: var(--branco-palido);
}

#p-cuadro {
    margin-bottom: .25rem;
    height: 16rem;
    font-family: 'Gayathri';
    font-weight: 400;
}

#bg-cuadro {
    background-color: #acc4d5;
    margin: .25rem;
}

#bt-end {
    position: absolute;
    bottom: 0;
}

button {
    font-family: 'Syne';
    font-weight: 500;
}

.block {
    position: relative;
}

#banner-img {
    max-width: auto;
}

#test {
    background-color: #8d9a98;
    margin-top: 2.5rem;
    padding: 3rem;
    color: #f5f5f7;
}

#test p {
    color: #f5f5f7;
    margin: 3rem;
    font-family: 'Gayathri';
    font-weight: 700;
}

#card-cont{
    background-color: #d2dee3;
    color: var(--verde-escuro);
}

#card-cont .label {
    font-family: 'Gayathri';
    font-weight: 400;
    font-size: large;
}

#card-cont .input {
    font-family: 'Gayathri';
    font-weight: 700;
    font-size: medium;
}

/*Style About*/

#sobre {
    background-color: #f5f5f7;
    margin: 0rem;
    padding: 2.5rem;
}


#sobre p {
    font-family: 'Gayathri';
    font-weight: 700;
}

#cuadro-sobre {
    max-height: 480px;
    padding: .5rem;
    margin-bottom: 2rem;
    border: 2px solid #4c585a;
    background-color: var(--branco-palido);
}

