<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aquarela do Sur</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="static\style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&display=swap" rel="stylesheet">
</head>
<body>
  <!--Header -->
    <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href='/'>
                <img src='static\Logo_banner.png'>
              </a>
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-end mr-2">
                <a class="navbar-item is-size-4" href="/about">
                  Sobre
                </a>
                <a class="navbar-item is-size-4" href="/contact">
                  Contacto
                </a>
                <a class="navbar-item is-size-4" href="/store">
                  Loja
                </a>    
              </div>
            </div>
          </nav>
    </header>
    <!--Content of the page -->
    <div id="sobre" class="columns is-1 is-mobile is-centered">
      <div class="column is-3">
          <img id="cuadro-sobre" src="../static/foto_sobre.jpg">
          <img id="cuadro-sobre" src="../static/foto_sobre_2.jpg">
      </div>
      <div class="column is-5 is-size-5">
        <p>Entrar no mundo da aquarela botânica tem sido uma jornada verdadeiramente transformadora e gratificante. Descobrir a beleza e a complexidade das plantas através da arte me permitiu desenvolver uma conexão mais profunda com a natureza ao meu redor. Cada folha, flor e galho tornou-se uma fonte de inspiração e admiração, e aprender a retratá-los com precisão e delicadeza tem sido um desafio estimulante.</p><br>

        <p>Além disso, o aspecto mais recompensador dessa experiência tem sido a capacidade de alegrar as pessoas através da minha arte botânica. Ao compartilhar minhas pinturas de plantas com os outros, percebo como elas despertam sentimentos de alegria, serenidade e conexão com a natureza nas pessoas. Ver o sorriso no rosto de alguém enquanto contempla uma das minhas obras é uma sensação indescritível, e saber que minha arte pode trazer um pouco de beleza e inspiração para o dia de alguém é verdadeiramente gratificante.</p><br>
            
        <p>A aquarela botânica não apenas me permitiu explorar minha criatividade e aprofundar minha compreensão da natureza, mas também me deu a oportunidade de espalhar um pouco de felicidade e positividade pelo mundo através da arte. É uma experiência que continuo a valorizar e que me inspira a continuar aprimorando minhas habilidades e compartilhando minha paixão com os outros.</p>
      </div>
    </div>
   <!--Footer -->
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Aquarelas do SUR</strong> by <a href="https://jgthms.com">Sabuat Urbina Ribeiro</a>. The website content
          is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
      </div>
    </footer>
</body>
</html>