<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aquarela do Sur</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="static\style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&display=swap" rel="stylesheet">
</head>
<body>
  <!--Header -->
    <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href='/'>
                <img src='static\Logo_banner.png'>
              </a>
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-end mr-2">
                <a class="navbar-item is-size-4" href= "{{ url_for('about')}}"> Sobre </a>
                <a class="navbar-item is-size-4" href='{{ url_for("contact")}}'> Contacto </a>
                <a class="navbar-item is-size-4" href='{{ url_for("store")}}'> Produto </a>  
                <a class="navbar-item is-size-4" href='{{ url_for("store")}}'> Loja </a>    
              </div>
            </div>
          </nav>
    </header>
    <!--Content of the page -->
    <!--Imagen Banner-->
    <div class="columns">
      <div class="column is-full">
        <img id="banner-img" src="../static/banner.jpg" />
      </div>
    </div>
    <!--Imagenes compra-->
   <div class="columns">
    <div class="column">
      <div class="columns">

        <div class="column ml-6">
          <div id="bg-cuadro" class="column">
            <div class="column">
              <div  class="block">
                <img id="cuadro" src="../static/cuadro_1.jpg">
              </div>
            </div>
            <div class="column">
              <div class="block">
                <p id="p-cuadro" class="is-size-5"> Com a vibração única de Salvador como minha musa, mergulhei no desafio de capturar a essência do Elevador Lacerda em um desenho à mão, em preto e branco. Este desenho é mais do que uma representação visual; é uma homenagem à rica tapeçaria cultural da Bahia, convidando o espectador a se perder na profundidade e na beleza da sua própria história.</p>
              </div>
            </div>
          </div>
          <a href={{ url_for("store")}} class="button is-large is-fullwidth">Comprar</a>
        </div>

        <div class="column">
          <div id="bg-cuadro"  class="column">
            <div class="column">
              <div  class="block">
                <img id="cuadro" src="../static/cuadro_2.jpg">
              </div>
            </div>
            <div class="column">
              <div class="block">
                <p id="p-cuadro" class="is-size-5"> Com a técnica da aquarela digital, mergulhei nas paisagens imponentes das montanhas, buscando capturar a sua majestade e serenidade. As cores sutis se misturam harmoniosamente, criando profundidade e atmosfera, enquanto os contrastes entre luz e sombra dão vida à cena.</p>
              </div>
            </div>
          </div>
          <a href={{ url_for("store")}} class="button is-large is-fullwidth">Comprar</a>
        </div>

        <div class="column">
          <div id="bg-cuadro" class="column">
            <div class="column">
              <div  class="block">
                <img id="cuadro" src="../static/cuadro_3.jpg">
              </div>
            </div>
            <div class="column">
              <div class="block">
                <p id="p-cuadro" class="is-size-5"> Com pincéis delicados e cores suaves, retratei uma lua cheia laranja, pendendo majestosamente sobre uma paisagem serena. Cada camada de tinta foi cuidadosamente aplicada para capturar a luminosidade suave da lua, enquanto as sombras profundas realçavam a beleza misteriosa da noite.</p>
              </div>
            </div>
          </div>
          <ba href={{ url_for("store")}} class="button is-large is-fullwidth">Comprar</a>
        </div>
      </div>
    </div>
   </div>
   <!--Testimonio-->
   <div id="test" class="card">
    <div class="card-content has-text-centered">
      <p id="test-p " class="title">
        "A obra que adquiri é verdadeiramente uma obra-prima. Cada detalhe meticuloso e cada pincelada cuidadosamente aplicada capturam a beleza e a essência da cena de uma forma que vai além das palavras. Sem dúvida, esta aquarela se tornou o destaque da minha coleção, e mal posso esperar para adquirir mais obras deste talentoso artista no futuro."
      </p>
      <p class="subtitle">
        Carlos Augusto - <em>Arquiteto</em>
      </p>
    </div>
  </div>

   <!--Contacto Básico-->
   <form id="card-cont" class="box">
    <div class="column is-6 is-offset-one-quarter">
      <div class="field">
        <label class="label">Nome</label>
        <div class="control">
          <input class="input" type="text" placeholder="Nome Sobrenome">
        </div>
      </div>
  
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="email" placeholder="usuario@contato.aq">
        </div>
      </div>
      <button class="button is-large">Contato</button>
    </div>
  </form>
   <!--Footer -->
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Aquarelas do SUR</strong> by <a href="https://jgthms.com">Sabuat Urbina Ribeiro</a>. The website content
          is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
      </div>
    </footer>
</body>
</html>