<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aquarela do Sur</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="static\style.css">
</head>
<body>
  <!--Header -->
    <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href=#>
                <img src='static\Logo_banner.png'>
              </a>
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-end mr-2">
                <a class="navbar-item" href="/about">
                  Sobre
                </a>
                <a class="navbar-item" href="/contact">
                  Contacto
                </a>
                <a class="navbar-item" href="/store">
                  Loja
                </a>    
              </div>
            </div>
          </nav>
    </header>
    <!--Content of the page -->
    <!--Imagen Banner-->
    <div class="columns">
      <div class="column is-full">
        <img id="banner-img" src="../static/banner.jpg" />
      </div>
    </div>
    <!--Imagenes compra-->
    <div class="columns">
      <div id="bg-cuadro" class="columns p-2">
        <div class="column ">
         <img id="cuadro" class="image" src="../static/cuadro_1.jpg">
        </div>
        <div class="column">
          <div id="p-cuadro" class="block">
            <p class="is-3 mb-3">If you want to change the size of a single column, you can use one of the following classes:</p>
            <button class="button">Comprar</button>
          </div>
        </div>
      </div>
      <div id="bg-cuadro" class="columns p-2">
        <div class="column">
         <img id="cuadro" class="image" src="../static/cuadro_1.jpg">
        </div>
        <div class="column">
          <div id="p-cuadro" class="block">
            <p class="is-3 mb-3">If you want to change the size of a single column, you can use one of the following classes:</p>
            <button class="button">Comprar</button>
          </div>
        </div>
      </div>
      <div id="bg-cuadro" class="columns p-2">
        <div class="column ">
         <img id="cuadro" class="image" src="../static/cuadro_1.jpg">
        </div>
        <div class="column">
          <div id="p-cuadro" class="block">
            <p class="is-3 mb-3">If you want to change the size of a single column, you can use one of the following classes:</p>
            <button class="button">Comprar</button>
          </div>
        </div>
      </div>
    </div>
    <!--Footer -->
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Aquarelas do SUR</strong> by <a href="https://jgthms.com">Sabuat Urbina Ribeiro</a>. The website content
          is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
      </div>
    </footer>
</body>
</html>